IMMICH_API_URL="http://your-immich-instance:2283/api"
IMMICH_API_KEY="your_api_key"
DB_NAME="immich"
DB_USER="immich"
# DB_PASSWORD="your_db_password"  Configured for no password
DB_HOST="localhost"
DB_PORT="5432"
ML_API_URL="http://your-ml-service:3003/api"
# Specify the exact CLIP model name used by your Immich ML service
CLIP_MODEL_NAME="ViT-L-16-SigLIP-384__webli" # Example: ViT-B-32, ViT-L-14

# Number of hours back to check for new assets
FETCH_HOURS=4 